*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width:500px) {


  .title {
    font-size: 3rem;
    margin-top: 20px;
  }

  .box {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
  }

  .box-cell {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: #ffffc7;
    border: 2px solid #333;
    cursor: pointer;
  }


  .msg-container {
    margin-top: 60px;
    font-size: 1.5rem;
    font-weight: bold;
    min-height: 30px;
    /* reserve space for message */
    visibility: hidden;
    /* hide message initially */
  }

  .msg-container.show {
    visibility: visible;
    /* show when winner/draw occurs */
  }
}




@media (max-width:499px) {


  .title {
    font-size: 37px;
    margin-top: 20px;
  }


  .box {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 10px;
  }

  .box-cell {
    width: 80px;
    height: 80px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: #ffffc7;
    border: 2px solid #333;
    cursor: pointer;
  }



  .msg-container {
    margin-top: 95px;
    font-size: 1.5rem;
    font-weight: bold;
    min-height: 30px;
    /* reserve space for message */
    visibility: hidden;
    /* hide message initially */
  }

  .msg-container.show {
    visibility: visible;
    /* show when winner/draw occurs */
  }
}


/* shared components */


body {
  font-family: Arial, sans-serif;
  background-color: rgb(64, 103, 112);
  text-align: center;
  color: white;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}



.reset-button {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}



.box-cell:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.reset-button-div {
  margin-top: 20px;
}